.App {
  text-align: center;
}
.load {
  position: fixed;
  top: 50%;
  right: 30%;
  font-size: 30px;
}
body, html, p, h1, ul, li {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
.App-title {
  font-size: 40px;
  background-color: #0e2b61;
  color: white;
  margin: 0;
  height: 100px;
  width: 100%;
  line-height: 100px;
}
.App-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 850px;
}
.map-wrap {
  width: 630px;
  height: 850px;
  padding-left: 30px;
}
.map-title {
  width: 630px;
  height: 100px;
  font-size: 35px;
  font-weight: 600;
  line-height: 100px;
  color: #4a5e83;
}
.App-map {
  width: 630px;
  height: 750px;
  border-radius: 50px;
}
.option-wrap {
  width: 1200px;
  height: 828px;
}
.option-title {
  width: 350px;
  height: 100px;
  font-size: 35px;
  font-weight: 600;
  line-height: 100px;
  padding-left: 140px;
  color: #4a5e83;
}
.App-option {
  font-size: 22px;
  width: 170px;
  height: 50px;
  margin-top: 25px;
  border: none;
  border-radius: 10px;
  background-color: #7289b4;
  color: white;
  padding-left: 20px;
}
.App-graph {
  width: 1200px;
  height: 543px;
  padding-top: 70px;
}
.graph-city {
  width: 600px;
  font-size: 25px;
  font-weight: 600;
  color: #4a5e83;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.graph-city-title {
  font-size: 40px;
  line-height: 25px;
  padding-right: 10px;
}
.graph-text-box {
  padding-top: 50px;
}
.text-box {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 0 130px;
  font-size: 20px;
  padding-bottom: 35px;
  text-align: center;
}
.time {
  width: 42px;
  padding: 0 20px;
}
.red {
  color: #e45b5b;
  padding: 0 20px;
  width: 40px;
}
.blue {
  color: #6363ff;
  padding: 0 20px;
  width: 40px;
}
.gray {
  color: #b3b3b3;
  width: 80px;
  padding: 0 10px;
}
.graph-box-wrap {
  display: flex;
  height: 100px;
}
.graph-box {
  width: 570px;
  height: 620px;
}
h4 {
  font-size: 20px;
  margin: 20px 0;
  color: #4a5e83;
}